<a href="https://colab.research.google.com/github/byundonghwan/maching_learning_basic/blob/main/DataFrame_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
os.listdir('./drive/MyDrive/machine_learning_data/machine_learning_data') # 현재 파일이 어떤것이 있는지 확인

['test.csv',
 'train.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 'new_friend.csv']

In [ ]:
# 데이터 폴더 src 변수 할당.
base_src = './drive/MyDrive/machine_learning_data/machine_learning_data'

# friend.csv 파일 src 변수 할당.
friend_src = base_src + '/friend.csv'

In [ ]:
# pandas의 read_csv => 데이터 불러오기
df = pd.read_csv(friend_src, encoding='utf-8')

In [ ]:
# head() 데이터를 읽어보기 => default 5개만 읽어오는 것
df.head()
df.head(6)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
# 데이터 저장하기
# index = False 설정 필수 ! 
new_friend_src = base_src + "/new_friend.csv" 
df.to_csv(new_friend_src, index = False, encoding = 'utf-8')

In [ ]:
os.listdir(base_src)

['test.csv',
 'train.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 'new_friend.csv']

In [ ]:
# Series 실습
pd.Series([1,2,3]) # 인덱스가 자동으로 제공한다, 연산시 numpy보다 연산속도가 느리다. 

# 데이터프레임(집합) => 데이터프레임(집합) <=> 시리즈(단일)
# 데이터프레임과 시리즈는 동일하구나.
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [ ]:
# pd.Series 함수를 통해서 데이터프레임 만드는 것도 가능
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# pd.Series의 옵션이 무엇이 있는지 확인
# index => 할당값의 지정 이름, 중복 가능
# dtype => 대표적 : int, float, string, boolean 등 사용.
series = pd.Series([10,2,35,4], index = ['a', 'b', 'c', 'd'], dtype = float)
series

a    10.0
b     2.0
c    35.0
d     4.0
dtype: float64

In [ ]:
# 시리즈 정렬 
series = series.sort_values(ascending = True)
series

b     2.0
d     4.0
a    10.0
c    35.0
dtype: float64

In [ ]:
# DataFrame 실습 => dictionary 타입
df = pd.DataFrame({'a':[2,3], 'b':[5,10]})
df

   a   b
0  2   5
1  3  10

In [ ]:
df = pd.DataFrame([[2,5],[3,10],[10,20]], columns =['a','b'])
df

    a   b
0   2   5
1   3  10
2  10  20

In [ ]:
df = pd.DataFrame([[2, 5, 100], [3, 10, 200], [10, 20, 300]], columns=['a', 'b', 'c'], index = ['가','나','다'], dtype = float)
df

      a     b      c
가   2.0   5.0  100.0
나   3.0  10.0  200.0
다  10.0  20.0  300.0

In [ ]:
df_name = pd.DataFrame([["변동환", "정민우", "황선홍"], ["김재원", "이재명", "한민수"], ["이재훈", "윤석열", "김민"]], columns = ["이름1", "이름2", "이름3"], index = ['0', '1', '2'])
df_name

   이름1  이름2  이름3
0  변동환  정민우  황선홍
1  김재원  이재명  한민수
2  이재훈  윤석열   김민

In [ ]:
# - DataFrame 행, 열 선택 및 필터링
df = pd.read_csv(friend_src, encoding = 'utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [ ]:
# index 4번에 해당하는 row 가져오기.
df.iloc[4]

name      Brian
age          45
job     manager
Name: 4, dtype: object

In [ ]:
# index 4번 SELECT * FROM FRIEND WHERE PK = 4 번 형식으로 가져오기. 
df.iloc[[4]]

    name  age      job
4  Brian   45  manager

In [ ]:
# COL 가져오기
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
# iloc는 숫자 인덱스 활용 => 인덱스와 컬럼을 리스트 배열로 선택하는 것.
# loc는 문자 인덱스 활용 => 인덱스와 컬럼을 문자로 선택하는 것.
df.iloc[:, 2]

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.iloc[1,2]

'developer'

In [ ]:
df.loc[:, 'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.loc[1, 'job']

'developer'

In [ ]:
# 인덱싱 활용
df.iloc[2:4, :2]

    name  age
2   Nate   30
3  Julia   40

In [ ]:
# 인덱스 변경하기
df.index = [1,2,3,4,5,6]
df

    name  age        job
1   John   20    student
2  Jenny   30  developer
3   Nate   30    teacher
4  Julia   40    dentist
5  Brian   45    manager
6  Chris   25     intern

In [ ]:
# 새로운 col 추가하기
df['new_columns'] = [1,2,3,4,5, 'intern']
df

    name  age        job new_columns
1   John   20    student           1
2  Jenny   30  developer           2
3   Nate   30    teacher           3
4  Julia   40    dentist           4
5  Brian   45    manager           5
6  Chris   25     intern      intern

In [ ]:
# - DataFrame 행, 열 삭제 
np.arange(12).reshape(3, 4)
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns = ['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
# axis = 1 (columns 방향) , axis = 0 (low 방향)
# df.drop(['B', 'C'], axis = 1, inplace = True)
df

      a     b      c
가   2.0   5.0  100.0
나   3.0  10.0  200.0
다  10.0  20.0  300.0

In [ ]:
#df.drop([1,2], axis = 0, inplace = True)
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
#  - DataFrame 행, 열 수정
df.loc[1,'C'] = "육"
df.iloc[0,2] = 2
df.iloc[:,:] = "끝!@"
df

     A    B    C    D
0  끝!@  끝!@  끝!@  끝!@
1  끝!@  끝!@  끝!@  끝!@
2  끝!@  끝!@  끝!@  끝!@